@using CarCareAlliance.Presentation.Client.Services
@inject LoadingService LoadingService

@if (IsLoading)
{
    <div class="loading-container">
        <div class="bookshelf_wrapper">
            <ul class="books_list">
                <li class="book_item first"></li>
                <li class="book_item second"></li>
                <li class="book_item third"></li>
                <li class="book_item fourth"></li>
                <li class="book_item fifth"></li>
                <li class="book_item sixth"></li>
            </ul>
            <div class="shelf"></div>
        </div>
    </div>
}

@code {
    public bool IsLoading { get; set; }

    protected override void OnInitialized()
    {
        LoadingService.OnShow += ShowLoading;
        LoadingService.OnHide += CloseLoading;
    }

    public void ShowLoading()
    {
        IsLoading = true;
        StateHasChanged();
    }

    public void CloseLoading()
    {
        IsLoading = false;
        StateHasChanged();
    }
}

